html{
	box-sizing: border-box;
}
*, *::before, *::after{
	box-sizing: inherit;
}
.robot {
	width: 320px;
	position: relative;
	margin: 0 auto;
}
.body {
width: 320px;
	position: relative;
}
.brain {
	width: 46px;
	position: absolute;
}
.head-right {
	width: 125px;
	position: absolute;
}
.head-left {
	width: 125px;
		position: absolute;
}
