html{
	box-sizing: border-box;
}
*, *::before, *::after{
	box-sizing: inherit;
}
.robot {
	width: 320px;
	position: relative;
}
div .body {
width: 320px;
	position: relative;
	right: -26%;
	top: 57px;
	overflow: hidden;
}
.brain {
	width: 46px;
	position: absolute;
	right: 17%;
	bottom: -25em;
	transition: all 500ms linear;
}
.head-right {
	width: 125px;
	position: absolute;
	right: -15%;
	top: 20px;
	transition: all 250ms linear;
}
.head-left {
	width: 125px;
		position: absolute;
	right: 24%;
	top: 20px;
	transition: all 250ms linear;
}
header {
	background-color: navy;
	overflow: hidden;
	height:  242px;
}

header:hover .brain{
	top: 39px;
}
header:hover .head-right{
right: -26px;
}
